@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
/* font-family: 'Montserrat', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
/* font-family: 'Kaushan Script', cursive; */

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* font-family: 'Roboto', sans-serif; */

*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Montserrat', sans-serif;
}


.intro {
    width:100%;
    height: 100vh;
    background: url("../assets/images/intro.jpg") center no-repeat;
    background-size: cover;
}

.container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;

    /* border: 10px solid black; */
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.nav__logo {
    font-weight: 700;
    font-size: 30px;
    cursor: pointer;
}

.nav__items {
    display: flex;
    width: calc(620 / 1200 * 100%);
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 14px;
    height: 100%;
    align-items: center;
    cursor: pointer;

    /* border: 5px solid red; */
}

.nav__item--first {
    color: #fce38a;
}



.nav__item {
    transition: all .2s linear;
}

.nav__item:hover {
    color: #fce38a;
}

.nav__item--shopping_cart {
    fill: orange;
    color: orange;
}

.nav__item:after {
    content: "";
    display: block;
    background: #fce38a;
    height: 3px;
    width: 100%;
    transition: all .2s linear;

    opacity: 0;
}

.nav__item--first:after {
    content: "";
    display: block;
    background: #fce38a;
    height: 3px;
    width: 100%;

    opacity: 1;
}

.nav__item:hover:after {
    opacity: 1;
}

.intro__text {
    margin: 50px auto 0;
    line-height: 1.1;
    /* border: 10px solid yellow; */
}

.intro__text::after {
    content: "";
    display: block;
    background: #fff;
    height: 3px;
    width: 60px;
    margin: 25px auto;
}

.intro__suptitle {
    text-transform: capitalize;
    font-size: 72px;
    font-family: 'Kaushan Script', cursive;
}

.intro__title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 150px;
}

.learn__more {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    padding: 12px 28px;
    border: 3px solid white;
    max-width: 161px;
    margin: 20px auto;

    transition: all .2s linear;
}

.learn__more:hover {
    background: white;
    color: #e8ab67;
}

.intro__slider {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    position: relative;
    margin: 26px auto;

    /* border: 8px solid green; */
}

.intro__slider__item {
    font-weight: 400;
    font-size: 18px;
}

.intro__slider__item::before {
    content: "";
    display: block;
    background: white;
    height: 3px;
    width: 280px;
}

.slider__wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 7px;
}

.slider__wrapper span {
    padding-right: 10px;
}

.slider__num {
    font-weight: 700;
    font-size: 24px;
}

.intro__slider__item--first::before {
    content: "";
    display: block;
    background: linear-gradient(90deg, rgba(243,129,129,1) 0%, rgba(243,129,129,1) 35%, rgba(255,255,255,1) 36%, rgba(255,255,255,1) 100%);
    height: 3px;
    width: 280px;
}

/* about_us */

.about__us {
    max-height: 100%;
}

.section__text {
    display: flex;
    flex-flow: column wrap;

    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    /* justify-content: center; */
    /* align-items: center; */
    text-align: center;

    line-height: 1.1;
    margin-top: 120px;

    
    /* border: 10px solid black; */
}

.section__suptitle {
    color: black;
    font-family: 'Kaushan Script', cursive;
    font-size: 24px;
}

.section__title {
    color: black;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 15px;
}

.section__title::after {
    content: "";
    background: #f38181;
    height: 3px;
    width: 60px;
    display: block;
    margin: 25px auto;
}

.text__plug {
    color: #999999;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}

.cards {
    /* border: 10px solid green; */

    height: 100%;
    display: flex;
    justify-content: space-between;

    margin-top: 50px;

    cursor: pointer;
}

.cards__item {


    position: relative;

    opacity: 1;

    transition: all .2s linear;

    z-index: 3;
    display: block;
    /* height: 100%; */
    /* width: 100%; */
}

.cards__background {
    z-index: -1;
    background: #95e1d3;
    height: 100%;
    max-height: 250px;
    opacity: 1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
}

.cards__foreground {
    background: linear-gradient(to bottom, #fce38a, #f38181);
    height: 100%;


    opacity: 0;
    left: 0;
    top: 0;
    position: absolute;
    z-index: 5;
    width: 100%;
    display: block;
    
    transition: all .2s linear;
}

.cards__img {
    transition: all .2s linear;
}

.cards__item:hover .cards__img {
    transform: translate3d(-10px, -10px, 0); 
}

.cards__item:hover .cards__foreground {
    opacity: .85;
    transform: translate3d(-10px, -10px, 0); 
}

.cards__item:hover .cards__info__wrapper {
    opacity: 1;
}

.cards__info__wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-54%, -60%);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;

    opacity: 0;
    z-index: 10;

    transition: all .2s linear;
}


/* Statistics */

.statistics {
    display: block;
    margin-top: 91px;
    height: 100%;
    max-height: 270px;
    background: #95e1d3;
    width: 100%;

    /* border: 10px red solid; */
}

.statistics__item__wrapper {
    display: flex;
    justify-content: space-between;
}

.statistics__item {
    display: flex;
    flex-direction: column;
    border-right: 1px solid #b5eae0;
    border-left: 1px solid #b5eae0;
    width: 240px;
    padding: 30px 0;
    max-height: 270px;
    cursor: pointer;

}

.statistics__item:hover .statistics__item__num {
    transform: translate(-10px, -10px);
}

.statistics__item:hover .statistics__item__text {
    transform: translate(-10px, -10px);
}

.statistics__item__num {
    font-size: 72px;
    font-weight: 700;
    transition: all .2s linear;     /* was done bc the borders of an items kept movin' with the items itself */
}

.statistics__item__text {
    font-weight: 14;
    text-transform: uppercase;
    transition: all .2s linear;
}

/* ! work__with */

.services__wrapper {
    display: flex;
    justify-content: space-between;
    margin: 45px 0;
    padding-bottom: 54px;
    border-bottom: 1px solid #e5e5e5;
}

.services__wrapper--second {
    margin-top: 0px;
    border-bottom: none;
    padding-bottom: 0;
}

.services__item {
    display: flex;
}

.services__item__content {
    display: flex;
    flex-direction: column;
    margin-left: 28px;
}

.services__item__content__header {
    color: #333333;
    text-align: left;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
}

.services__item__content__text {
    color: #999999;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
}

/* ! /work__with */


/* ! unique design */

.unique__design {
    width: 100%;
    height: 100%;
    background: url("../assets/images/backgrounds/hills.png") center no-repeat;
    background-size: cover;
    /* border: 20px solid black; */
}

.section__text--unique__design {
    padding-top: 50px;
}

.unique__design__wrapper {
    margin: 0 auto;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    position: relative;
}

.unique__design__item {
    display: block;
}

.unique__design__iphone {
    position: absolute;
    bottom: -80px;
    right: 0;
    z-index: 1;
}

/* ! /.unique design */

/* we do */

.accordion__wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.accordion__left {
    width: 100%;
    max-width: 570px;

    /* border: 5px green solid; */
}

.accordion__right {
    width: 100%;
    max-width: 600px;

    /* border: 5px yellow solid; */
}

.accordion__item {
    width: 100%;
    border: 1px solid #e5e5e5;
    margin-bottom: 10px;
}

.accordion__item--inactive .accordion__item__header {
    border-bottom: none;
}

.accordion__item--inactive .accordion__item__header .accordion__item__header__arrow {
    transform: rotate(135deg);
}

.accordion__item--inactive .accordion__item__content{
    display: none;
}

.accordion__item__header {
    border-bottom: 1px solid #e5e5e5;
    display: flex;
    align-items: center;

    position: relative;
}

.accordion__item__header__img {
    margin: 14px 15px;
}

.accordion__item__header__text {
    color: #333333;
    text-transform: uppercase;
    font-size: 14px;
}

.accordion__item__header__arrow {
    content: "";
    display: block;
    background: transparent;
    border-top: 2px solid #cccccc;
    border-right: 2px solid #cccccc;
    height: 16px;
    width: 16px;
    transform: rotate(-45deg) translateY(45%);
    position: absolute;
    right: 20px;
    cursor: pointer;

}

.accordion__item__content {
    display: flex;
}

.accordion__item__content__text {
    color: #999999;
    width: 100%;
    max-width: 530px;
    margin: 24px 0 27px 20px;
    text-align: left;

    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-style: italic;
}

.accordion__item__slider {
    height: 120px;
    width: 5px;
    border: 1px;
    background: #f5f5f5;

    position: relative;
    margin-left: 26px;
    margin-top: 20px;
    border-radius: 25px;
    cursor: pointer;
}

.accordion__item__slider__inner {
    background: #95e1d3;
    top: 0;
    width: 5px;
    height: 60px;

    border-radius: 25px;
    z-index: 200;
    position: absolute;
}

.we__do__quotes {
    display: block;
    background: #f8f8f8;
    width: 100%;
    height: 100%;
    max-height: 290px;
    margin-top: 100px;
    /* display: flex; */
    /* justify-content: space-between; */



    height: 290px;
    /* border: 20px solid orange; */
}

.we__do__quotes__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    transform: translateY(38%);
}

.we__do__quotes__arrow {
    content: "";
    display: block;
    background: transparent;
    border-top: 2px solid #cccccc;
    border-right: 2px solid #cccccc;
    height: 16px;
    width: 16px;
    transform: rotate(-45deg) translateY(45%);
    /* position: absolute; */
    /* right: 20px; */
    cursor: pointer;

}

.we__do__quotes__arrow--left {
    transform: rotate(-135deg);
    transition: all .2s linear;
}

.we__do__quotes__arrow--left:hover {
    transform: scale(1.1) translateX(-7px) rotate(-135deg);
}

.we__do__quotes__arrow--right {
    transform: rotate(45deg);
    transition: all .2s linear;
}

.we__do__quotes__arrow--right:hover {
    transform: scale(1.1) translateX(7px) rotate(45deg);
}

.we__do__quotes__wrapper__left {
    width: 100%;
    max-width: 150px;
}

.we__do__quotes__wrapper__left img {
    padding: 42px 40px 41px 41px;
    border: 3px solid #95e1d3;

}

.we__do__quotes__wrapper__right {
    display: flex;
    flex-direction: column;

    width: 100%;
    max-width: 770px;
    position: relative;
}

.we__do__quotes__wrapper__right__top {
    text-align-last: left;
    color: #999999;
    font-size: 24px;
    font-weight: 300;
    font-style: italic;
    font-family: 'Roboto', sans-serif;
}

.we__do__quotes__wrapper__right__bottom {
    color: #333333;
    font-size: 24px;
    font-weight: 400;
    font-family: 'Kaushan Script', cursive;
    position: absolute;
    top: 110px;
    max-width: 250px;
    width: 100%;

}

.we__do__quotes__wrapper__right__bottom:before {
    content: "";
    display: block;
    background: #f38181;
    height: 3px;
    width: 60px;
    margin: 0;
    position: absolute;
    top: 50%;
}

.cards--team {
    /* border: 20px greenyellow solid; */
    cursor: default;

}

.cards__background--team {
    max-height: 470px;
}

.cards__info__wrapper--team {
    display: flex;
}

.cards__item__team {
    width: 100%;
    max-width: 56px;
    height: 100%;
    max-height: 56px;
    padding: 15px 22px 15px 23px;
    background: #fce38a;
    border-left: 1px solid #f9bd87;
    cursor: pointer;

    transition: all .2s linear;
}

.cards__item__team img {
    transition: all .2s linear;
}

.cards__item__team:hover img {
    filter: brightness(0) invert(1);
    transform: scale(1.15);
}

.cards__item__team:hover {
    background: #f38181;
}

.cards__item__team:nth-child(1) {
    border-left: 0 solid #f9bd87;
}

.cards__twitter {
    padding: 17px 15px 18px 16px;
}

.cards__pinterest {
    padding: auto;
}

.cards__pinterest img {
    transform: translateX(-20%);
    transition: all .2s linear;
}

.cards__pinterest:hover img {
    transform: translateX(-40%);
    filter: brightness(0) invert(1);
    transform: scale(1.15);
}

.cards__instagram {
    padding: 15px 16px 15px 14px;
}

.cards__foreground--team {
    max-height: 470px;
}


/* .cards__item {
    border: 5px solid brown;
} */

.card__info__wrapper {
    margin-top: 20px;
    cursor: default;
    /* border: 10px violet solid; */
}

.card__info__name {
    color: #333333;
    margin-bottom: 5px;
    text-transform: uppercase;
}

.card__info__job {
    color: #999999;
    text-transform: capitalize;
}

.section--gray {
    margin-top: 90px;
    background: #f8f8f8;
    width: 100%;
    max-height: 100%;
    /* justify-content: center; */
}

.companies__wrapper {

    width: 100%;
    /* border: 10px solid black; */
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.companies__wrapper img {
    padding: 70px 0;
    transition: all .2s linear;
}


.companies__wrapper img:hover {
    transform: translate(10px, -10px) scale(1.05);
    cursor: pointer;
}


/* ! our work */

.our__work__columns {
    display: flex;
    width: 100%;
    max-width: 100vw;
    margin-top: 70px;
    
}


.our__work__column {    
    flex: 1 1 0;
}

.works__item {
    position: relative;
}

.works__item:hover .works__item__foreground{
    opacity: .9;
}

.works__item:hover .works__item__info {
    opacity: 1;
}

.works__item img {
    width: 100%;
    max-width: calc(
        100vw / 4
    );
    height: auto;
    display: block;
    margin-bottom: 10px;
}

.works__item__foreground {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom, #fce38a, #f38181);
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;

    opacity: 0;
    transition: all .2s linear;
}

.works__item__info {
    
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    top: 50%;
    left: 50%;
    z-index: 1;

    transform: translate3d(-50%, -50%, 0);

    z-index: 5;

    width: 100%;
    max-width: 44%;
    text-align: center;
    padding: auto;

    display: flex;
    flex-direction: column;
    align-items: center;

    opacity: 0;
    transition: all .2s linear;

}


.works__item__info img {
    max-width: 30px;
    
}

.works__item__info__header {
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 5px;

}

.works__item__info__text {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 300;
    font-style: italic;
}

.our__work__img {
    display: block;
}